h1 {
    color: #009DDE; font-size: 28px; font-family: verdana;
}
h2 {
  color: #BE0DDE; font-size: 20px; font-family: verdana;
}
li {
  color: #009DDE; font-size: 14px; font-family: verdana;
}
body {
  background-color: white;
}
